/*+-To apply and save the changes, we open the VS Code Terminal and enter this Code:_  sass --watch sass:css
        And then Save.*/
* {
        font-size: 1.9vw;
}

body {
        background-image: url("../img/freedom_wallpaper.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 120%;
}

#title{
        opacity: 0.8;
}

#quote-box {
        
}

.quote-bg {
        background-color: #ffd31d;
        opacity: 0.2;
}

.quote-bg:hover {
        opacity: 0.7;
}

@media only screen and (max-width: 450px) {
        * {
                font-size: 2.25vh;
        }
        body {
                background-position: left;
                background-size: 300% 150%;
        }
        
}
